:root{
    --black-color: #110101;
    --dark-color: #5C1414;
    --color:#A82929;
    --light-color: #F6D3D3;

}

@font-face{
    font-family: manga-font;
    src: url(../content/fonts/manga_temple/mangat.ttf);
}
 


body{

    background: url(../content/Images/Rudo/bg_rudo.png) no-repeat;
    font-family: manga-font;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 405px;
    width: 416px;

    .bg-image{
        background-image: url("../content/Images/Rudo/rudo_main.png");
        width: 84px;
        height: 84px;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    svg{
        fill: var(--light-color);
        cursor: pointer;
    }

    svg:hover{
        fill: var(--color);
    }

    .title-bar{
        width: 416px;
        height: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--dark-color);
        
        
        .title-icons{
            display: flex;
            gap: 10px;
            margin: 0 5px;
            img{
                height: 20px;
                width: 20px;
            }
        }
    }  


    .heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        h1{
            font-size: 20px;
            color: var(--color);
            margin: 15px 0 0 0;
        }

        .arrows{
            display: flex;
            gap: 20px;
            /* margin: 0px 0 10px 0; */
        }

        .iconRight{
            display: none;
            
            background-image: url("../content/Images/Zanka/zanka_icon.png");
            width: 50px;
            height: 43px;
            background-size: cover;
            background-repeat: no-repeat;

            position: absolute;
            right: 100px;
            top: 95px;
        }

        .iconLeft{
            display: none;

            background-image: url("../content/Images/Enjin/enjin_icon.png");
            width: 50px;
            height: 43px;
            background-size: cover;
            background-repeat: no-repeat;

            position: absolute;
            left: 85px;
            top: 95px;
        }

    }

    .input-field{

        display: flex;
        flex-direction: row;
        gap: 6px;
        margin: 10px 0;

        #inputBox{
            box-sizing: border-box;
            border: none;
            background-color: var(--dark-color);
            width: 315px;
            height: 34px;
            border-radius: 30px;
            text-indent: 10px;
                        color: var(--light-color);


        }
        #inputBox::placeholder{
            color: var(--light-color);
            padding:5px 15px ;
            font-size: 12px;

        }

        #addTask{
            background-color: var(--color);
            border-radius: 21px;
            width: 34px;
            height: 34px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
                 
            svg{
                fill: var(--light-color);
            }


        }
        #addTask:hover{
            background-color: var(--light-color);
            svg{
                fill: var(--color);
            }
        }
    }

  
    .task-added{
        color: var(--light-color);
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px;    
        width: 363px;
        
        
        ul{
            padding: 0;
            margin: 0;
            width: 363px;
            height: 162px;
            overflow: auto;
            scrollbar-color: var(--light-color) transparent;
            scrollbar-width: none;

        
           li{
                display: flex;
                margin-bottom: 10px;
                align-items: center;
                padding:0 16px;
                background-color: var(--color);
                border-radius: 40px;
                border: 2px solid var(--light-color);
                height: 40px;list-style: none;    
                position: relative;
                user-select: none; /*prevents highlight text*/
                cursor: pointer;
                
            

                span{
                    position: absolute;
                    right: 15px;
                    top: 9px;
                    width: 25px;
                    height: 25px;
                    font-size: 20px;
                    line-height: 25px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                }

                span:hover{
                    background-color: var(--dark-color);
                }
            }
        }

        ul li::before{
                content: '';
                height: 25px;
                width: 25px;
                background-color: var(--light-color);
                border-radius: 20px;
                border: var(--light-color);
                margin-right: 10px;
            }

        ul li.checked{
                color: var(--color);
                text-decoration: line-through;   
                background-color: var(--light-color);
                border-color: var(--dark-color);
            
            }
            
        ul li.checked::before{
                background-color: var(--dark-color);
                border-radius: 20px;
                border: var(--dark-color);
            }
        
    }
}

.zankaTheme{

    --black-color: #010A11;
    --dark-color: #233B63;
    --color:#2958A8;
    --light-color: #D3DEF6;

   
    background: url(../content/Images/Zanka/zanka_bg.png) no-repeat;
   
    .bg-image{
        background-image: url("../content/Images/Zanka/zanka_main.png");
    }

    .heading{
        .iconRight{
            background-image: url("../content/Images/Riyo/riyooo.png");
          
        }

        .iconLeft{
            background-image: url("../content/Images/Rudo/rudo_icon.png");
            
        }
    }

}

.riyoTheme{

    --black-color: #021805 ;
    --dark-color: #145A1E;
    --color:#29A838;
    --light-color: #D3F6E4;

    
   
    background: url(../content/Images/Riyo/riyo_bg.png) no-repeat;
   
    .bg-image{
        background-image: url("../content/Images/Riyo/riyo_main.png");
    }

        .heading{
        .iconRight{
            background-image: url("../content/Images/Riyo/riyooo.png");
          
        }

        .iconLeft{
            background-image: url("../content/Images/Rudo/rudo_icon.png");
            
        }
    }

    .heading{
        .iconRight{
            background-image: url("../content/Images/Enjin/enjin_icon.png");
          
        }

        .iconLeft{
            background-image: url("../content/Images/Zanka/zanka_icon.png");
            
        }
    }



}

.enjinTheme{

    --black-color: #110601 ;
    --dark-color: #402F20;
    --color:#A86429;
    --light-color: #F6E7D3;

    background: url(../content/Images/Enjin/enjin_bg.png) no-repeat;
   
    .bg-image{
        background-image: url("../content/Images/Enjin/enjin_main.png");
    }

    .heading{
        .iconRight{
            background-image: url("../content/Images/Rudo/rudo_icon.png");
          
        }

        .iconLeft{
            background-image: url("../content/Images/Riyo/riyooo.png");
            
        }
    }


}